/*body {
    background-color: cyan;
    text-align: center;
    padding: 130px
}*/

.div1 {
    margin-right: 18px;
}

select {
    width: 150px;
}

.span1 {
    margin-left: 100px;
}

.span2 {
    margin-left: 100px;
}

button {
    padding: 10px;
    width: 110px;
}

thead, tbody { display: block; }

tbody {
    width: 100%;
    height: 118px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}


/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 50px;
    width: 600px;
}
th, td {
    padding: 5px;
    text-align: center;       
} */
