<style>
	body{
	margin-left:13px;
	background-color: cyan;
	height: 350px;
	font-size: 20px;
	margin-top: 20px;

	}
	#div3{
	border: 2px solid black;
	height: auto;
	background-color: white;
	margin:05px;
	margin-top: 20px;
	}
	#thead{
	background-color: gainsboro;
	}
	thead, tbody, tr, td, th { display: block; }
	  tr:after {
		  content: ' ';
		  display: block;
		  clear: both;
	  }
	  thead th {
			width: 8%;
			float: left;
	  }
	  tbody {
		  height: 150px;
		  overflow-y: auto;
		  overflow-x: auto;
	      }
	  tbody td {
		  width: 10%;
		  float: left;
	  }
	  .main{
		border:solid;
		text-align:center;
		margin-top:120px;
		height:500px;
		font-size:25px;
	  }
	  .table tr.selected td {
		background-color:#123456 !important;
		color: white;
      }
	  /* .selected {
      background-color: blue;
      } */
		</style>
	
	
	
	<body>
	<div class="container main">
			<div class="container" *ngIf="dvc!=true">
				<div class="col-md-12 col-sm-12 col-xs-12 well">
				<h1>Welcome to Mobile Labs</h1>
					<div>
						<p>
							Connect Mobile Device through Usb Cabel
						</p>
						<p>
							Click on Connect
						</p>
					</div>
				</div>
			</div>
			<!-- container -->
			<!-- welcome 	 -->
		    <div  class="container" id="div3" *ngIf="dvc==true">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div  class="jumbotron" style="margin-top:5px;"><span style="color:blue;font-weight: bolder">Available Devices</span></div>	
					<table class="table" style="background-color: white">
						<thead id="thead">
							<tr>
							<th style="width: 30px">Check</th>
							<th style="width: 300px;text-align: center">Devices Name</th> 
							<th style="width: 250px;text-align: center">Devices Id</th>
							</tr>
						</thead>
						<tbody>
							<!-- <tr *ngFor="let data of result"> -->
							<tr *ngFor="let data of result; let i = index" [class.selected]="data.DevicesId == selectedRownew">
							<td style="width: 30px">
							<!-- <input type="file"  (change)="filesPicked($event)" > -->
							<input type="checkbox" (click)="setClickedRow(data.DevicesId);checkFun(data.DevicesId)">
							</td>
							<td style="width: 300px;text-align: center">{{data.DevicesName}}</td>
							<td style="width: 250px;">{{data.DevicesId}}</td>	
							</tr>
						</tbody>
				    </table>
			   </div>
			</div>
			<!-- class="container" id="div3" *ngIf="dvc==true" -->
		<button type="button" class="btn btn-success" style=" font-size: 20px; width:120px;height:35px;margin-top:15px;
		margin-right:730px" (click)="connect()" *ngIf="dvc!=true">Connect</button>
		<div class="pull-left row" *ngIf="dvc==true">
			<div class="col-md-6 col-sm-6 col-xs-6 pull-left">
			<!-- <input type="file"  (change)="filesPicked($event)" name="file" id="files" class="custom-file-input"  webkitdirectory mozdirectory msdirectory odirectory directory multiple="multiple"><button><label for="files" class="custom-file-label">Import Project
				</label>  </button> -->
			<!-- <input type="file"  (change)="filesPicked($event)"  webkitdirectory> -->
			<input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
            <button type="button" (click)="upload()">Upload</button>
			<!-- <input type="file" accept=".apk" (change)="filesPicked($event)">					 -->
			<!-- <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
          <button type="button" (click)="upload()">Upload</button> -->
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 pull-left" *ngIf="dvc==true">
				<!-- <button type="button" (click)="submit($event)">Upload</button> -->
				<!-- <p>{{up.progress}}</p> -->
				<button type="button" class="btn btn-primary" style="font-size: 20px;width:80px;height:35px;margin-top:15px;
				margin-right:730px"  (click)="installApk()" *ngIf="dvc==true">Install</button>
			</div>
		
		</div>
		<!-- class="pull-left row" *ngIf="dvc==true" -->
	</div>
	<!-- container main -->
	</body>
	