<div style="margin-left: 740px;margin-top: 30px">
    <span>
            ModuleName:<select style="height: 25px;width: 110px;" [(ngModel)]="moduleSelected">
                    <option *ngFor="let module of modules">{{module.moduleName}}</option>
                 </select>
    </span>
	
    <br>
    <br>
    <br>
   <span style="margin-left: -4px">
        FeatureName:<select style="height: 25px;width: 110px;margin-left: 1px" [(ngModel)]="featureSelected">
                <option *ngFor="let feature of features">{{feature.featureName}}</option>
             </select>
   </span>
   <br>
<br>
<br>
   <span style="margin-left: 38px;margin-top: 572px">
        Type:<select style="height: 25px;width: 110px" [(ngModel)]="typeSelected">
                <option *ngFor="let type of types">{{type.typeScenario}}</option>
             </select>
   </span>
<br>
<br>
<br>
<span style="margin-left: 25px">
       Priority:<select style="height: 25px;width: 110px;margin-left: 4px" [(ngModel)]="prioritySelected">
                <option *ngFor="let priority of priorities">{{priority.priorityScenario}}</option>
             </select>
</span>
   <br>
   <br>
   <br>
<span style="margin-left: -10px;">
        Estimated Time:<input type="number"  style="width: 110px;" [(ngModel)]="timeGiven">
        <br><br>
        <br>
        <br>
        <button style="height: 35px;background-color: tomato;width: 80px;">Import1</button>
</span>
<span>
    <button style="background-color: green;height: 35px;width: 80px;margin-left: 45px" (click)="saveImportData()">Save</button>
</span>
 <router-outlet></router-outlet>  
</div>